.output{
    display:block;
    position:relative;
    left:50%;
    top:30px;
    font-size:xx-large;
    font-weight: bolder;
   
}

.btn-increment{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left:48%;
    top: 50px;
    width:25px;
    padding: 0 15px ;
    
}

.btn-decrement{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left:51%;
    top:30px;
    width:25px;
    padding: 0 15px ;
}

.btn-reset{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left:54%;
    top:9px;
    
}